* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: "Open Sans", Sans-Seriff;
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* ----- Header ---- */

header {
	background: url(../img/bg.png) #49a3d6;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	max-height: 600px;
}

header .menu {
	margin: 20px 0;
	text-align: right;
}

header .menu a {
	margin: 0 20px;
	padding-bottom: 9px; 
	display: inline-block;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

header .menu a:hover {
	border-bottom: 2px solid #ccc;
}

header .contenedor-texto {
	margin: 190px 0;
	display: flex;
	justify-content: center;
	align-content: center;
}

header .contenedor-texto .texto {
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
	color: #fff;
	margin: 0;
	font-weight: 300;
}

header .contenedor-texto .texto .nombre {
	margin-bottom: 10px;
	font-size: 50px; 
	line-height: 50px;
}

header .contenedor-texto .texto .profesion {
	font-size: 25px;
	line-height: 25px;
}

/* ---- Main ---- */
.main .contenedor {
	overflow: visible;
}

.main .acerca-de {
	text-align: center;
}

.main .acerca-de .foto {
	margin-top: -60px;
}

.main .acerca-de .foto img {
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2)
}

.main .acerca-de .texto {
	color: #5a5a5a;
	font-weight: 600;
	margin: 40px auto 60px auto;
	font-size: 1em;
	line-height: 25px;
	width: 80%;
}

.main .acerca-de .texto .titulo {
	font-size: 2em;
	line-height: 32px;
	margin-bottom: 40px;
	font-weight: 600;
	color: #dd820d;
	text-align: center;
}

.main .acerca-de .texto .bold {
	color: #49a3d6;
	text-decoration: underline;
}

.main .trabajos {
	background: #f2f2f2;
	padding: 60px 0;
}

.main .trabajo .contenedor {
	overflow: hidden;
}

.main .trabajos .contenedor .titulo {
	font-size: 2em;
	line-height: 32px;
	margin-bottom: 40px;
	font-weight: 600;
	color: #323068;
	text-align: center;
}

.main .trabajos .contenedor-trabajos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main .trabajos .contenedor .contenedor-trabajos .trabajo {
	width: 23%;
	margin-bottom: 30px;
}

.main .trabajos .contenedor .contenedor-trabajos .trabajo .thumb {
	width: 100%;
	margin-bottom: 20px;
}

.main .trabajos .contenedor .contenedor-trabajos .trabajo .thumb img {
	width: 100%;
	vertical-align: top;
	border-radius: 3px;
}

.main .trabajos .contenedor .contenedor-trabajos .trabajo .descripcion {
	text-align: center;
}

.main .trabajos .contenedor .contenedor-trabajos .trabajo .descripcion .nombre {
	font-weight: 700;
	color: #3895ae;
	margin-bottom: 10px;
}

.main .trabajos .contenedor .contenedor-trabajos .trabajo .descripcion .categoria {
	font-size: 14px;
	color: #636363;
}

/* ---- FOOTER ---- */

footer .contacto {
	margin: 60px 0;
}

footer .contacto .contenedor .titulo {
	font-size: 2em;
	line-height: 32px;
	margin-bottom: 40px;
	font-weight: 600;
	color: #3895ae;
	text-align: center;
}

footer .contacto .contenedor .formulario {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .contacto .contenedor .formulario input[type="text"],
footer .contacto .contenedor .formulario input[type="email"],
footer .contacto .contenedor .formulario textarea {
	border: 2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	color: #a4a4a4;
}

footer .contacto .contenedor .formulario input[type="text"]:focus,
footer .contacto .contenedor .formulario input[type="email"]:focus,
footer .contacto .contenedor .formulario textarea:focus {
	border: 2px solid #3898ea;
}

footer .contacto .contenedor .formulario input[type="text"],
footer .contacto .contenedor .formulario input[type="email"] {
	width: 49%;
	margin-bottom: 15px;
}

footer .contacto .contenedor .formulario textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
	max-height: 200px;
	margin-bottom: 15px;
}

footer .contacto .contenedor .formulario .boton {
	margin: auto;
	background: #3895ae;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 15px 40px;
	cursor: pointer;
	margin-bottom: 15px;
}

footer .contacto .contenedor .formulario .boton:hover {
	background: #387bea;
}

footer .redes-sociales {
	background: #1E2B38;
	padding: 35px 0;
}

footer .redes-sociales .contenedor {
	display: flex;
	justify-content: center;
}

footer .redes-sociales .contenedor a {
	color: #fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
	margin: 0 15px;
}

footer .redes-sociales .contenedor .twitter:hover {
	background: #1da1f2;
}

footer .redes-sociales .contenedor .facebook:hover {
	background: #3b5998;
}

footer .redes-sociales .contenedor .instagram:hover {
	background: #405de6;
}

/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 600px) {
	header .contenedor .menu {
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.main .trabajos .contenedor .contenedor-trabajos .trabajo {
		width: 46%;
	}
}
